//card overlay

.card-overlay-component-wrapper {
	> div {
		@include media-breakpoint-down(sm){
			margin-bottom: 1rem;
		}
	> .card {
			-webkit-box-shadow: 0 2px 6px #e7e7e7;
			-moz-box-shadow: 0 2px 6px #e7e7e7;
			box-shadow: 0 2px 6px #e7e7e7;
		    height: 100%;
			img {
				height: 450px;
				@include media-breakpoint-down(sm){
					height: 500px;
				}
				width: 100%;
				object-fit: cover;
			}
			&:not(:first_child){
				padding-left: 1rem;
			}
			.card-top {
				position: relative;
				overflow: hidden;
				.card-overlay-content {
					position: absolute;
					padding: 20px;
					bottom: 0;
					left: -100%;
					right: 0;
					overflow: hidden;
					width: 100%;
					height: 100%;
					transition: .5s ease;
					&.transparent-bg-primary {
						background-color: rgba(37, 54, 139, .7);
					}
					&.transparent-bg-secondary {
						background-color: rgba(189, 24, 24, .7);
					}
					top:0;
					/*display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;*/
					color: theme-color('white');
				}
				&:hover .card-overlay-content{
		  			left: 0;
				}

				.show-overlay-content {
					left: 0;
					// this one is to let it show on mobile when clicked
				}
			}
			> div:last-child {
				padding: 0px 10px;
				h1, h2, h3, h4, h5, h6, p {
					font-size: 1rem;
					font-weight: 600;
				}
			}
		}
	}
}

@include media-breakpoint-down(lg){
  .card-overlay-component-wrapper > div > .card .card-top .card-overlay-content{
    position: static;
  }
}
