.lg-collapse .collapse-section {
  .collapse-item {
    box-shadow: 0px 2px 3px #00000029;
    margin-bottom: 25px;

    h2, > div {
      background-color: #fff;
      border: 0;
    }

    h2 {
      font-size: 1rem;
      border-bottom: 1px solid #ddd;
      padding: 21px 2rem;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        background-image: url("../images/arrow-down.svg");
        background-size: contain;
        width: 100px;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 0.4s ease-in-out;
      }
    }


    > div {
      padding: 1rem 2rem;
    }
  }

  .collapse-item.active {
    h2 {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
}
