hr.lg {
  margin-top: $hr-margin-y * 3;
  margin-bottom: $hr-margin-y * 3;
}

body {
  color: theme-color("text");
}

h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: theme-color("primary-color");
}

.btn {
  padding: 0.25rem 1.5rem;
}

.flexible_call-to-action {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }

  .button a {
    @extend .btn;
    border: 1px solid theme-color('primary');
    color: theme-color('primary');

    &:hover {
      background-color: theme-color('primary');
      color: theme-color('white');
    }
  }
}

.text-underline {
  text-decoration: underline;
}

.section-links-white-text {
  a {
    color: white;
  }
}

.light-border-bottom {
  border-bottom: .5px solid rgba(theme-color("light-text"), .4);
}

.lg-testimonial.carousel {
  .lg-testimonial-controls {
    li {
      background-color: #ECECEC;
      border: none;
      width: 10px;
      height: 10px;

      &.active {
        background-color: theme-color("primary");
      }

      &:hover {
        background-color: theme-color("primary");
      }
    }
  }

  .lg-testimonial-content > div {
    text-align: center;
    @include media-breakpoint-up("md") {
      padding-left: 5rem;
      padding-right: 5rem;
      button:before {
        color: theme-color("light-text");
      }
    }
  }
}

.lg-testimonial.carousel {
  .lg-testimonial-controls li {
    margin: 0 10px;
  }
}


.full-screen-two-grid {
  .text-editor {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .order-2 {
    align-self: center;
    padding-bottom: 1rem;
  }

  img {
    height: 100%;
    object-fit: cover;
  }
}

//white overlay
.white-overlay {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
  }
}

.flexible_2_column_grid .order-2 {
  @include media-breakpoint-down("sm") {
    margin-top: 1rem;
  }
}


.datepicker.dropdown-menu {
  z-index: 999 !important;
}

.board-leadership {
  .flexible_grid {
    box-shadow: 0 2px 6px #e7e7e7;

    > div {
      @include media-breakpoint-up(md) {
        padding: 3rem !important;
      }

      &:first-child {
        background-color: theme-color("light");
      }

      &:last-child {
        background-color: theme-color("white");
      }
    }
  }
}

.latest-testimonial {
  .text-editor {
    background-color: #F2F7FA;
    padding: 3em 2rem;
    position: relative;
    margin: auto;
    max-width: 900px;

    &:before {
      content: "\f10d";
      position: absolute;
      left: 1rem;
      top: 1rem;
      font-size: 1.5rem;
      @extend .fas;
    }
  }
}

.pagination {
  > ul {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin: auto;

    > li {
      > a {
        padding: .75rem;
        border: 1px solid theme-color("primary");

        &:hover {
          background-color: theme-color("primary");
          color: #fff;
        }
      }
    }
  }
}

.lg-testimonial.carousel .lg-testimonial-arrows .arrow-right, .lg-testimonial.carousel .lg-testimonial-arrows .arrow-left {
  width: 20px;
}

@include media-breakpoint-up(md) {
  .latest-testimonial {
    .text-editor {
      padding: 5em;
      color: #4A4A4A;

      h3, h4 {
        color: #4A4A4A;
      }

      &:before {
        left: 2.5rem;
        top: 2rem;
        font-size: 2rem;
      }
    }
  }
}

.announcement-bar {
  background-color: theme_color('primary');
  color: #fff;
  padding: 5px 20px;

  a {
    color: #fff;

    &:active, &:hover, &:focus {
      color: #fff;
      text-decoration: underline;
    }
  }
}
