.address-map {
  .text-editor {
    margin-bottom: 40px;

    h3, h4, h5 {
      font-weight: 600;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.contact-form {
  .text-editor {
    max-width: 800px;
    margin: auto;
  }
}

.recaptcha-el{
  list-style: none;
}
