#tribe-events-content .tribe-events-calendar div[id*='tribe-events-event-'] h3.tribe-events-month-event-title {
  padding: 0;
}

.events-archive.events-gridview #tribe-events-content table .type-tribe_events {
  margin: 0;
}