#site-footer {
	font-size: 16px;
	background-color: theme-color("light");
	#site-footer-main {
		background-color: transparent;
		.widget {
			color: theme-color("light-text");
			line-height: 1.8;
			.widget-title {
				background-color: transparent;
				text-transform: none;
				border: none;
				color: theme-color("text");
				padding: 0;
			}
			ul {
				list-style: none;
				padding-left: 0;
				li {
					a {
						color: theme-color("light-text");
						&:hover {
							color: theme-color("primary");
						}
					}
				}
			}
		}
		.site-footer-echo {
			.widget {
				text-align: center;
			}
		}
	}
	#site-legal {
		background-color: transparent;
		color: theme-color("light-text");
		border-top: 1px solid rgba(#707070,.1 );
		> div a {
			color: theme-color("light-text");
			&:hover {
				color: theme-color("primary");
			}
		}
	}
}

//footer cta
.footer-cta {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, .4);
		z-index: 30;
	}
	.footer-cta-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 25;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.footer-cta-content {
		max-width: 580px;
		p {
			font-size: 18px;
		}
		@extend .py-5;
		position: relative;
		z-index: 50;
	}
} 