//isotope
.tab-filter-a {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	@include media-breakpoint-up("md"){
		padding-left: 15px;
	}
	.filter {
		color: theme-color("text");
		@include media-breakpoint-up("md"){
			&:after {
				content: '';
			  	position: absolute;
			    width: 0; 
			    height: 1px;
			    display: block;
			    margin-top: 3px;
			    right: 0;
			    background: theme-color("primary");
			    transition: width .5s ease;
			    -webkit-transition: width .5s ease;
			}
			&.active {
				color: theme-color("primary");
				&:after {
					width: 100%;
			  		left: 0;
			  		background: theme-color("primary");
				}
			}
			&:hover {
				color: theme-color("primary");
				&:after {
					width: 100%;
			  		left: 0;
			  		background: theme-color("primary");
				}
			}
			&:not(:last-child){
				margin-right: 1rem;
			}	
		}
		position: relative;
		cursor: pointer;
	}
}
.gallery{
	display: flex;
	flex-wrap: wrap;
	min-height: 350px;

	.grid-sizer{
		width: 33.33%;
		display: block !important;

		@include media-breakpoint-up(sm){
			width: 50%;
		}


		@include media-breakpoint-up(md){
			width: 33.33%;	
		}
	}

	>div{
		box-sizing: border-box;
		width: 100%;
		display: none;
		padding-bottom: 15px;
		@include media-breakpoint-up(sm){
			padding: 15px;
		}
		>div{
			-webkit-box-shadow: 0px 1px 3px 0px rgba(138,138,138,1);
			-moz-box-shadow: 0px 1px 3px 0px rgba(138,138,138,1);
			box-shadow: 0px 1px 3px 0px rgba(138,138,138,1);
		}

		&.gallery-image{
			display: block;
		}

		@include media-breakpoint-up(sm){
			width: 50%;
		}


		@include media-breakpoint-up(md){
			width: 33.33%;	
		}

		.iso-img-wrapper{
			position: relative;
			display: inline-block;
			width: 100%;
			img{
				width: 100%;
				transition: opacity .3s ease-in-out 0s;
				height: 200px;
				@include media-breakpoint-up(sm){
					height: 225px;
				}
				@include media-breakpoint-up(md){
					height: 200px;
				}
				@include media-breakpoint-up(lg){
					height: 300px;
				}
				object-fit: cover;
				&.alt{
					position: absolute;
					width: 100%;
					left: 0;
					top: 0;
					opacity: 0;
				}
			}
		}

	}
} 