.gform_fields {
  list-style: none;
  padding-left: 0;

  > li {
    margin-bottom: 20px;

    input, textarea, select {
      border: 1px solid rgba(#000, .35);
      height: 40px;
      width: 100%;
      padding: 5px 10px;
      margin-top: 0 !important;
    }

    textarea {
      height: 260px;
    }
  }

  > li.gfield_error {
    input, textarea {
      border-color: #dc3545;
    }
  }

}

.volunteer-form {
  .ginput_container_address {
    label {
      display: none;
    }
    @include media-breakpoint-up(md){
      display: flex;
      flex-wrap: wrap;
      > span {
        margin-bottom: 20px;
        &:nth-last-child(-n+3){
          margin-bottom: 0px;
        }
        width: 100%;
        &.address_city, &.address_state, &.address_zip, &.address_country {
          width: 50%;
        }
        &.address_city, &.address_zip {
          padding-right: 1rem;
        }
      }
    }
  }
}

.gform_wrapper {

}

.validation_error {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.validation_message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.gform_wrapper .gform_footer input[type=submit] {
  color: #fff;
  border-color: theme-color("dark");
  background-color: theme-color("dark");
  padding: 0.306rem 2.4rem !important;
}


@include media-breakpoint-up(sm) {
  .contact-form {
    .gform_body {
      display: flex;
      margin-left: -15px;
      margin-right: -15px;
      flex-wrap: wrap;

      > ul {
        display: none;
      }

      > * {
        flex: 0 0 50%;
        padding-left: 15px;
        padding-right: 15px;
      }

      > .full-fields {
        flex: 0 0 100%;
      }
    }

    .gform_fields {

      > li {

        input, textarea, select {
          height: 50px;
        }

        textarea {
          height: 260px;
        }
      }
    }
  }
}