hr.lg {
  margin-top: $hr-margin-y * 3;
  margin-bottom: $hr-margin-y * 3;
}

.utility-bar {
  display: none;
}

.mobile-header-contacts {
  .mobile-header-email {
    background-color: darken(theme-color('primary'), 9%);

    &:hover {
      background-color: theme-color('primary');
    }
  }
}

#site-header .header-main.small-header {
  .site-branding {
    .logo {
      width: 75px;
    }
  }

  .utility-bar {
    padding-bottom: 0;
  }
}


// create responsive menu with sub menus
#site-header {
  .header-main {
    .site-branding {
      @include media-breakpoint-down($nav-breakpoint-down) {
        padding-bottom: .75rem;
      }
      .logo {
        max-width: 60px;
        @include media-breakpoint-up(sm) {
          max-width: 100px;
        }
      }
    }
    .main-navigation {
      padding-left: 0;
      .navbar {
        .navbar-nav {
          @include media-breakpoint-up($nav-breakpoint-up) {
            align-items: center;
          }

          > .menu-item.menu-item-has-children > .dropdown-toggle {
            @include media-breakpoint-down($nav-breakpoint-down) {
              display: flex;
              width: 100%;
            }
          }

          > .menu-item {
            border-bottom: 1px solid #ababab;
            padding: 0;
            @include media-breakpoint-up($nav-breakpoint-up) {
              border-bottom: none;
              padding: 1rem 1rem;
            }

            i {
              color: white;
              padding-right: 1.5rem;

              &:before {
                font-size: 14px;
              }

              @include media-breakpoint-up($nav-breakpoint-up) {
                padding-right: 0;
                color: theme-color(' dark ');
                margin-left: 5px;
              }
            }

            &.dropdown {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: center;
              @include media-breakpoint-up($nav-breakpoint-up) {
                align-items: flex-start;
              }

              & > .dropdown-menu {
                flex: 0 0 100%;
                border-bottom: none;
                @include media-breakpoint-down($nav-breakpoint-down) {
                  background-color: theme-color("light");
                  a {
                    color: theme-color("text");
                    text-transform: none;
                  }
                }
                .active {
                  background-color: transparent;
                }
                > .dropdown-menu {
                  background-color: transparent;
                  border: none;
                  text-indent: 1rem;
                  display: block;
                }
              }
            }

            &.nav-book {
              padding-right: 0;

              > .nav-link {
                padding: .5rem 1.5rem;
                border-radius: 5px;
              }
            }

            & > .nav-link {
              border-bottom: none;
              display: inline-block;
              text-transform: none;
              font-weight: 600;
              @include media-breakpoint-up($nav-breakpoint-up) {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}

#site-header {
  .header-main {
    padding: .7rem 0;
    @include media-breakpoint-down($nav-breakpoint-down) {
      padding: .75rem 0;
      padding-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      padding: .7rem 0 .5rem 0;
      border-bottom: 4px solid theme-color('primary');
    }


    .menu-wrapper {
      .utility-bar {
        a:hover {
          color: theme-color(' primary ');
        }
      }

      .main-navigation .navbar-nav a.nav-link {
        &:hover {
          color: theme-color(' primary ');
        }

        @include media-breakpoint-down($nav-breakpoint-down) {
          &:hover {
            color: theme-color(' white ');
          }
        }
      }
    }
  }
}

.menu-wrapper {
  width: 100%;
}

#main-navbar {
  .nav-search {
    display: flex;

    > a {
      border-bottom: none;
    }

    #header-search-form {
      align-self: center;
      align-items: stretch;
      display: none;

      input {
        padding: 10px 10px;
        height: 100%;
      }

      button {
        background-color: theme-color("primary");
        border-radius: 0 3px 3px 0;
        border: none;
        height: 46px;
        width: 46px;
        color: #fff;
      }
    }

    #header-search-form.show-search-form {
      display: flex;
    }
  }
}

.top-banner {
  position: relative;

  .lg-gallery {
    position: absolute;
  }
}

.top-banner-overlay {
  padding: 2rem 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@include media-breakpoint-up(lg) {
  #site-header .utility-bar {
    display: block;
    background-color: transparent;

    a {
      color: theme-color("light-text");
      font-weight: 300;

      i:before {
        color: theme-color("light-text");
      }

      &:hover {
        color: theme-color("primary");

        i:before {
          color: theme-color("primary");
        }
      }
    }
  }
  .menu-wrapper {
    width: auto;
  }
  #main-navbar {
    .nav-search {
      position: relative;

      #header-search-form {
        padding: 20px 10px;
        background-color: #fff;
        position: absolute;
        padding: 20px 10px;
        box-shadow: 0 2px 6px #e7e7e7;
        -webkit-box-shadow: 0 2px 6px #e7e7e7;
        -moz-box-shadow: 0 2px 6px #e7e7e7;
        top: 50px;
        left: -240%;

        input {
          padding: 10px 10px;
        }
      }
    }
  }
  #site-header .utility-bar {
    font-size: 14px;
    padding: 0px;
    padding-bottom: 5px;

    .right {
      a {
        margin-left: 15px;
      }
    }
  }

  .top-banner-overlay {
    padding: 5rem 0;
  }

  .main-navigation {
    .dropdown-menu {
      background-color: #fff;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
      border: 0;
      border-top: 2px solid map_get($colors, "primary");;

      > .dropdown-menu {
        position: relative !important;
        border: 0;
        box-shadow: none;
        padding-bottom: 0;
        padding-left: 15px;
        padding-top: 0;
      }
    }

    .dropdown-menu.show {
      > .dropdown-menu {
        display: block;
      }
    }

    .dropdown-item {
      color: #000;

      &.active, &:hover, &:focus, &:active {
        background-color: #fff;
        color: map_get($colors, "primary");;
      }
    }
  }
}