.image-overlay-wrapper {
	> div {
			img {
				height: 300px;
				object-fit: cover;
			}
			&:not(:first_child){
				padding-left: 1rem;
			}
			.image-overlay-top {
				position: relative;
				overflow: hidden;
				.image-overlay-content {
					position: absolute;
					padding: 10px;
					bottom: 0;
					left: -100%;
					right: 0;
					overflow: hidden;
					width: 100%;
					height: 100%;
					transition: .5s ease;
					background-color: rgba(37, 54, 139, .7);
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
				&:hover .image-overlay-content{
		  			left: 0;
				}
				.show-overlay-content {
					left: 0;
					// this one is to let it show on mobile when clicked
				}
			}
			.image-overlay-bottom {
				font-weight: 600;
			}
		}
	} 