.service-section-content {
  ul {
    padding-left: 20px;
  }
}

.max-width-600 {
  .text-editor {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}


@include media-breakpoint-up(lg) {
  .service-section-content {
    .flexible_2_column_grid > div:last-child {
      .text-editor {
        padding-left: 40px;
      }
    }
  }
}