.lg-testimonial.list .lg-testimonial-content > div {
  margin-bottom: 30px;
  background-color: #F2F7FA;
  padding: 60px 15px 30px 15px !important;
  color: #4A4A4A;
  position: relative;
  &:before {
    content: "\f10d";
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    @extend .fas;
  }
}

.lg-testimonial-content {
  > div {
    > span {
      font-weight: bold;
      font-style: italic;
    }
  }
}

@include media-breakpoint-up(md){
  .lg-testimonial.list .lg-testimonial-content > div {
    padding: 60px 30px 30px 70px !important;
  }
}