// top-banner
.top-banner {
  &.home-top-banner {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, .3);
    }

    padding-top: 100px;
    padding-bottom: 100px;
    @include media-breakpoint-down(xs) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  &::after {
    position: absolute;
    content: '';
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    left: 0;
    top: 0;
  }

  .lg-gallery {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    .slick-list {
      height: 100% !important;

      .slick-track {
        height: 100%;
      }
    }

  }

  position: relative;

  .slick-slider {
    .slick-next {
      right: 80px;
      @include media-breakpoint-down("md") {
        right: 30px;
      }
    }

    .slick-prev {
      left: 80px;
      @include media-breakpoint-down("md") {
        left: 30px;
      }
    }

    .slick-arrow {
      z-index: 199;
      @include media-breakpoint-down("xs") {
        display: none !important;
      }

      &:hover {
        &:before {
          background-color: #FDFDFD;
        }
      }

      &:before {
        padding: 7px 11px;
        font-size: 20px;
        background-color: rgba(253, 253, 253, .5);
        color: #858585;
        border-radius: 50%;
      }
    }
  }

  .slick-dots {
    bottom: 10px;
    z-index: 199;

    li button:before {
      font-size: 3rem;
    }

    .slick-active {
      button:before {
        color: theme-color("primary");
      }
    }
  }

  .slick-list {
    //height: auto !important;
    img {
      // object-fit: cover;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      // height: 100%;
      object-fit: cover;
      position: absolute;
      height: 100%;
    }
  }

  .top-banner-overlay {
    .banner-text {
      max-width: 690px;
    }

    h1{
      font-size: 2rem;
      line-height: 1.1;
    }

    @include media-breakpoint-down(xs) {
      .banner-text {
        h1, h2, h3, h4, h5, h6, p {
          font-size: 1.5rem;
          margin-bottom: 0;
        }
      }
    }
    position: relative;
    z-index: 99;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h2 {
      @extend .mb-3;
    }
  }

  @include media-breakpoint-up(lg){
    padding: 4rem 0;
  }

}
