.two-column-history-wrapper {
	box-shadow: 0 2px 6px #e7e7e7;
	> div {
		&.two-column-procedure-image {
			img {
				width: 100%;
			}
		}
		width: 50%;
		.history-title {
			padding-left: 2rem;
			padding-right: 2rem;
		}
		.histories {
			padding-left: 2rem;
			padding-right: 2rem;
		}
		.slider-nav {
			display: flex;
			color: theme-color('primary');
			padding-left: 2rem;
			.slick-arrow {
				border: 1px solid rgb(200, 200, 200);
				padding: .75rem 1rem .75rem 1rem;
				border-radius: 3px;
				cursor: pointer;
				&.next-slide {
					margin-left: 1rem;
				}
			}
		}
	}
	@include media-breakpoint-down(sm){
		flex-direction: column;
		> div {
			width: 100%;
			.histories {
				margin-bottom: 1rem;
			}
		}
	}
}