.cta {
  position: relative;
  padding: 1.3rem 0;

  > div {
    position: relative;
    z-index: 1;
  }

  h3 {
    font-size: 1.667rem;
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#fff, .82);
    top: 0;
    left: 0;
    z-index: 0;
  }
}

.flexible_call-to-action .button a {
  font-size: 1.112rem;
}